div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

#login_box{
    border-style : solid;
    border-width : 2px;
    border-radius: 20px;
    border-color: gray;
    box-shadow: 5px 5px 5px gray;
    width: 200px;
    height: 150px;
    background-color: ghostwhite;
    padding: 10px;
}
